<div class="page-header">
  <h1>Sign Up</h1>
</div>
<%= form_for @user, :html => { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <a href="" class="close" data-dismiss="alert">x</a>
      <% for message in @user.errors.full_messages %>
        <%= message %><br />
      <% end %>
    </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_feld :name, class: 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="controls">
        <%= f.text_feld :email, class: 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, class: 'control-label' %>
      <div class="controls">
        <%= f.text_feld :password, class: 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, class: 'control-label' %>
      <div class="controls">
        <%= f.text_feld :password_confirmation, class: 'text_field' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.hidden_field :role, :value => 'agent' %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>

  