<div class="container-wrapper">
  <div class="container">

    <div class="row">

      <h1 class="form-title">Post Your Rental</h1>

      <div class="col-md-6 col-md-offset-3" >
        <div class="form-wrapper">
          <%= form_for @property, html: { multipart: true } do |f| %>
            <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
            <%= f.text_area :description, class: "form-control", size: "30x12", placeholder: "Write your description here..." %>
            <%= f.text_field :street, class: "form-control", placeholder: "Street address" %>
            <%= f.text_field :city, class: "form-control col-md-4", placeholder: "City" %>
            <%= f.select :state, @states, class: "form-control", placeholder: "State"%>
            <%= f.text_field :zip_code, class: "form-control col-md-4", placeholder: "Zip Code" %>
            <%= f.text_field :price, class: "form-control col-md-3", placeholder: "Price" %>
            <%= f.file_field :image %>
            <%= f.submit "Submit", class: "btn btn-lg btn-info" %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>