<div class="container-wrapper">
  <div class="container">

    <div class="row">

      <h1 class="form-title">Post Your Rental</h1>

      <div class="col-md-6 col-md-offset-3" >
        <div class="form-wrapper">
          <%= form_for @property, html: { multipart: true } do |f| %>

            <% if @property.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@property.errors.count, "error") %> prohibited this todo from being saved:</h2>

                <ul>
                <% @property.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.text_field :title, class: "form-control", placeholder: "Title", required: true  %>
            </div>
            <div class="form-group">
              <%= f.text_area :description, class: "form-control", size: "30x12", placeholder: "Write your description here...", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :street, class: "form-control", placeholder: "Street address", required: true  %>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-4 inline">
                <%= f.text_field :city, class: "form-control", placeholder: "City", required: true  %>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2 inline">
              <%= f.select :state, @states, selected: "CA", required: true  %>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-3 inline">
                <%= f.text_field :zip_code, class: "form-control", placeholder: "Zip Code", required: true  %>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-6 col-md-3 inline last">
                <%= f.text_field :price, class: "form-control", placeholder: "Price", required: true  %>
              </div>
            </div>
            <div class="form-group upload">
              <%= f.label :image, "Upload a picture:" %>
              <%= f.file_field :image, label: "Upload a picture:"%>
            </div>
            <%= f.submit "Submit", class: "btn btn-block btn-lg btn-info pull-right" %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>