<div class="container-wrapper">
<div class="container">
  <div class="row">

    <div class="list-main col-md-6">
      <% @properties.each do |p| %>
        <div class="listing">
          <div class="listing-pic">
            <% if p.image.file? %>
              <img src="<%= p.image %>" width="175px" height="125px" alt="neighborhood">
            <% else %>
              <img src="https://placehold.it/175x125" width="175px" height="125px" alt="neighborhood">
            <% end %>
          </div>
          <div class="caption">
            <h2><%= p.title %></h2>
            <p><%= p.city %> | $<%= p.price %><p>
            <p><%= truncate(p.description, length: 140) %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="list-secondary">
      <div sticky class="map-container">
        <div class="map">
          <div id='map-one' class='map'></div>
        </div>
      </div>
    </div>

  </div>
</div>
    
</div>
