<!DOCTYPE html>
<html>
<head>
  <title>Hackerhaus</title>

  <script src='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'partials/header' %>

  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert">x</a>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">x</a>
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="alert alert-warning">
        <a class="close" data-dismiss="alert">x</a>
        <%= flash[:warning] %>
      </div>
    <% end %>
    
    <%= yield %>
    
  </div>

</body>
</html>
